$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(0, 0, 0);
$tertiary-color: rgb(0, 0, 0);

$white: rgb(0, 0, 0);
$black: rgb(0, 0, 0);

$primary-font: 'serif';
$secondary-font: 'sans-serif';

$below-mobile: 'screen and (max-width: 576px)';
$below-tablet: 'screen and (max-width: 768px)';
$below-desktop: 'screen and (max-width: 992px)';

$above-mobile: 'screen and (min-width: 576px)';
$above-tablet: 'screen and (min-width: 768px)';
$above-desktop: 'screen and (min-width: 992px)';
